body {
  overflow-x: hidden;
}

main {
  margin-top: 4.2rem;
}

main .container {
  display: grid;
  grid-template-columns: 30vh auto 20vw;
  column-gap: 1.2rem;
}

main .container .left {
  height: max-content;
  position: sticky;
  top: 5.4rem;
}

.left .profile-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--card);
  border-radius:  var(--card-border-radius);
  padding: var(--card-padding);
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.left .profile-card::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--gradient);
  background-size: 300%;
  animation: gradientChange 16s infinite alternate;
}

@keyframes gradientChange {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.left .profile-card .handle-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 8px;
}

.left .profile-card .handle p {
  margin-top: 4px;
  font-size: small;
}

.left .profile-card .status {
  width: 100%;
  text-align: center;
  margin-top: 0.8rem;
  font-size: small;
}

.left .profile-card .profile-photo {
  z-index: 2;
}

.left .sidebar-card {
  margin-top: 0.9rem;
  background-color: var(--card);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.left .sidebar-card .menu-item {
  cursor: pointer;
  display: flex;
  column-gap: 1.2em;
  align-items: center;
  height: 3.5rem;
  border-radius: var(--card-border-radius);
  transition: background-color 0.3s ease;
}

.left .sidebar-card .menu-item:hover {
  background-color: var(--card-focused);
}

.left .sidebar-card i {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.left .sidebar-card .active i,
.left .sidebar-card .active p {
    color: var(--primary);
}

.left label {
  margin-top: 0.9rem;
}

.middle .post-card {
  width: 100%;
  background-color: var(--card);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  display: grid;
  grid-template-columns: auto 1fr;
}

.middle .post-card .post-container {
  margin-left: 0.9rem;
}

.middle .post-card .post-container textarea {
  outline: none;
  border: none;
  width: 100%;
  padding: 1rem 0;
  resize: none;
  color: var(--text);
  background-color: var(--card);
  white-space: pre-wrap;
  overflow: hidden;
}

.middle .post-card .post-container .button-container {
  display: flex;
  justify-content: end;
}
