body {
  min-height: 100vh;
  overflow: hidden; 
}

.logo-header img {
  margin-top: 2.5rem;
}

.login-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
}

.section-title {
  margin-right: 7rem;
}
