body {
  overflow: hidden; 
}

.logo-header {
  top: 2.5rem;
}

main {
  min-height: 100vh;
}

.signup-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
