body {
  overflow: hidden; 
}

main {
  min-height: 100vh;
}

.logo-header {
  position: fixed;
  display: flex;
  width: 90%;
  left: 0;
  right: 0;
  top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.logo-header img {
  width: 100px;
}


.signup-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
